.contact-form .contact-form-title {
  text-align: center;
  text-transform: capitalize;
  color: #232323;
}

@media only screen and (width <=960px) {
  .contact-form {
    width: 350px;
    padding: 30px;
  }

  .contact-form .recaptcha {
    margin-top: 25px;
    margin-left: -10px;
  }
}

@media only screen and (width >=960px) {
  .contact-form {
    width: 550px;
    padding: 30px;
  }

  .contact-form .recaptcha {
    margin-top: 25px;
    margin-left: 85px;
  }

  .contact-form .btn {
    width: 120px;
  }
}

/* RTL Support */
[dir="rtl"] .contact-form .recaptcha {
  margin-left: 0;
  margin-right: 85px;
}

@media only screen and (width <=960px) {
  [dir="rtl"] .contact-form .recaptcha {
    margin-left: 0;
    margin-right: -10px;
  }
}
